@font-face {
    font-family: 'ZhuZiAWan';
    src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
}

* {
    font-family: 'ZhuZiAWan';
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
}

body {
    height: 100vh;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr>td:first-child {
    text-align: center;
    padding: 0.5em;
}

#table {
    width: 30em;
}

input,
textarea {
    width: 100%;
    border: 2px solid #ecf0f1;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: none;
    transition: border 0.5s ease;
    text-overflow: ellipsis;
}

textarea {
    height: 10em;
}

input:focus,
textarea:focus {
    border: 2px solid #3498db;
}

#btn {
    margin: 0.5em 0.5em;
    width: 4em;
    border-radius: 5px;
    background-color: #63b5eb;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    border: none;
}

label {
    cursor: pointer;
}